.btn {
    display: flex;
}

.btn__text {
    margin: 3px;
    font-size: 15px;
    height: 15px;
}

.btn__icon-container {
    height: 15px;
    width: 15px;
    margin: 3px;
}

.bi {
    height: 15px;
    width: 15px;
}